<nav class="navbar navbar-light d-flex justify-content-start" style="background-color: white; ">
    <img src="/assets/img/logo.png" width="100" height="90">
    <div class="caja-titulo">
        <h5 class="titulo">TRAMITE PARA LICENCIAS DE FUNCIONAMIENTO</h5>
    </div>
</nav>

<div class="row" id="main" style="margin: auto">
    <div class="col-12 caja1">
        <h5 style="font-size: 15px;">Ahora los comerciantes, emprendedores y el público en general podrán obtener una licencia de funcionamiento en LURIGANCHO-CHOSICA de manera rápida, con menos requisitos y a un precio accesible.</h5>
    </div>

    <div class="col-12 caja-indicaciones mb-3">
        <div class="row d-flex align-items-center">
            <div class="col-4 ps-5"><h4 class="color-texto subtitulo">TRAMITA TU <br> LICENCIA EN LÍNEA</h4></div>
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <h5 class="color-texto descripcion">Lleva a cabo tu proceso de licenciamiento para tu negocio o establecimiento de manera virtual, necesitaras solo tus datos y los datos de tu establecimiento.</h5>
                    </div>
                    <div class="col-12" style="text-align: center;">
                        <button type="button" class="btn btn-light formato-boton mt-3" [routerLink]="['/login']">INGRESAR</button>
                    </div>
                </div>
            </div>
            <div class="col-4"><img src="/assets/img/Imagen1.png" class="img-fluid" alt="..."></div>
        </div>
    </div>

    <div class="col-12 caja-indicaciones mb-5">
        <div class="row d-flex align-items-center">
            <div class="col-4"><img src="/assets/img/Imagen2.png" class="img-fluid" alt="..."></div>
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <h5 class="color-texto descripcion">Mantente al tanto de tu proceso de solicitud y no te atrases en ningún paso para el licenciamiento de tu establecimiento.</h5>
                    </div>
                    <div class="col-12" style="text-align: center;">
                        <button type="button" class="btn btn-light mt-3 formato-boton" [routerLink]="['/login']">INGRESAR</button>
                    </div>
                </div>
            </div>
            <div class="col-4 pe-5"><h4 class="color-texto subtitulo text-end">CONSULTA EL ESTADO DE TU SOLICITUD</h4></div>
        </div>
    </div>
</div>

<div class="row" id="footer" style="margin: auto">
    <div class="col-12">
        <h5>Copyright - Sigescabdi</h5>
    </div>
</div>