<app-header></app-header>

<main class="form-signin container">
  <div>
    <form>


      <div style="width: 23%; margin-left: 39%; margin-top: 150px; border: solid grey 1px;">
        <div style="margin-bottom: 55px;">
          <div style="background-color: #0167A7;color:white;text-align: center;">
            <h1>LOGIN</h1>
          </div>
          <div style="background-color: #FFD966; height:5px;margin-top: -10px; display: flex; "></div>
        </div>
        <div class="form-floating" style="margin: 10px;">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Usuario</label>
        </div>
        <div class="form-floating" style="margin: 10px;">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Contraseña</label>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Recordar mi contraseña
          </label>
        </div>
        <div style="a">
          <button class="w-100 btn btn-lg btn-primary" type="submit">INGRESAR</button>
        </div>
      </div>




    </form>
  </div>

</main>