<app-header></app-header>
<div class="container" style="margin-top: 80px;">
    <div class="row">
        <div id="titulo" class="col-12">
            <h4>DESCARGAR ANEXOS</h4>
        </div>
    
        <div class="col-12 mt-4">
            <div class="row">
                <div class="col-5 d-flex flex-column gap-3">
                    <div class="row caja-anexo">
                        <div class="col-12 caja-titulo-desc">
                            <div class="d-flex gap-2 mt-2">
                                
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col">N°</th>
                                      <th scope="col">Contribuyente</th>
                                      <th scope="col">Estado</th>
                                      <th scope="col" #Pdf>AnexosSubidos</th>
                                      <th scope="col">DeclaracionJurada</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let p of persona">
                                      <!-- hola -->
                                      <th scope="row">{{p.idpersona}}</th>
                                      <td>{{p.nombre}}, {{p.ape_pat}} {{p.ape_mat}}</td>
                                      <td>Pediente</td>
                                      <td >Anexo1<span (click)="mostrarPDF(0)" class="material-icons-outlined icon-vista">
                                        visibility
                                    </span></td>
                                    <td >Declaracion<span (click)="mostrarPDF(0)" class="material-icons-outlined icon-vista">
                                      visibility
                                  </span></td>
                                    </tr>
                                    
                                  </tbody>
                                </table>
                            </div>
                           
                        </div>
                        <div class="col-12 mt-3 d-flex align-items-center gap-3">
                            <!-- <input #Pdf class="form-control" type="file" id="formFile">
                            <span (click)="mostrarPDF(0)" class="material-icons-outlined icon-vista">
                                visibility
                            </span> -->
                        </div>
                    </div>
                   
                </div>
                <div class="col-7" style="text-align: center;">
                    <embed #mostrador type="application/pdf" width="90%" height="90%">
                </div>
            </div>
            <div class="row">
                <div class="col-6 mt-3">
                    <h5 id="advertencia">* Advertencia: Subir archivos en formato PDF</h5>                                
                </div>
                <div id="comandos" class="col-6 d-flex justify-content-end gap-3 mb-3">
                    <button type="button" class="btn btn-light formato-btn color-btn">Cancelar</button>
                    <div type="button" class="btn btn-primary" [routerLink]="['/contribuyente/registro']">Regresar</div>
                    <button type="button" class="btn btn-success formato-btn" >Siguiente</button>                                
                </div>
            </div>
        </div>
    </div>
</div>
