#titulo{
    background-color: #2E75B6;
    border-bottom: 10px solid #FFD966;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.caja-anexo{
    background-color: #cfcfcf;
    padding: 14px;
    padding-top: 10px;
    width: 110%;
}

.formato-btn{
    color: white;
    width: 8rem;
}

.color-btn{
    background-color: #3482cb;
}

.caja-titulo-desc{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.icon-info{
    text-align: center;
    margin-top: 4px;
    cursor: pointer;
}

#advertencia{
    color: red;
    font-size: small;
}

.icon-vista{
    cursor: pointer;
}