<app-header></app-header>

<div class="container">
    <form id="form_crearEmpresa" method="POST" enctype="multipart/form-data">
        <div class="titulo">
            <div>VOUCHER DE PAGO</div>
        </div>
        <div class="contenido ">
            <div class="voucher">
                <div class="subtitulo">
                    <div>SUBIR VOUCHER DE PAGO DE INSPECCION</div>
                </div>
                <div class="tarjeta">
                    <div class="formulario">
                        <div class="form-group">
                            <label for="name" class="col-form-label">FECHA:</label>
                            <input type="date" class="form-control" name="EMP_FACEBOOK" id="EMP_FACEBOOK">
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-form-label">TIPO DE RIESGO:</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Seleccionar tipo de riesgo</option>
                                <option>Seleccionar Sesion</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-form-label">VOUCHER DE PAGO:</label>
                            <input type="file" class="form-control" name="CURS_IMAGEN" id="CURS_IMAGEN">
                        </div>
                        <div class="caja-button">
                            <button type="submit" class="btn btn-primary color-button">SUBIR</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="voucher">
                <div class="subtitulo">
                    <div>SUBIR VOUCHER DE PAGO DE INSPECCION</div>
                </div>
                <div class="tarjeta">
                    <div class="form-group">
                        <label for="name" class="col-form-label">FECHA:</label>
                        <input type="date" class="form-control" name="EMP_FACEBOOK" id="EMP_FACEBOOK">
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label">VOUCHER DE PAGO:</label>
                        <input type="file" class="form-control" name="CURS_IMAGEN" id="CURS_IMAGEN">
                    </div>
                    <div class="caja-button">
                        <button type="submit" class="btn btn-primary color-button">SUBIR</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>