<app-header></app-header>

<style>
    .container {
        padding-top: 120px;

    }

    .container__admin {
        width: 100%;
    }

    .content__admin {
        display: flex;
        background: #fff;
        gap: 20px;
    }

    .text-align-center {

        background: #ffff99;
        color: #333;

        line-height: 100px;
        text-align: center;
        vertical-align: middle;
    }

    .caja_button {
        margin: 15px;
        display: flex;
        justify-content: center;
    }
    button{}
</style>


<div class="container__admin container">
    <form id="form_crearEmpresa" method="POST" enctype="multipart/form-data">
        <div class="text-align-center ">

            <h2 style="background-color: #4fa8fb;color:white;padding-top: 10px;padding-bottom: 10px;">
                Baucher de Pago
            </h2>
        </div>
        <div style="background-color: yellow; height:10px;margin-top: -10px; display: flex; "></div>
        <div class="content__admin " style="display: flex;">
            <div style="border: 1px solid black; margin: 40px; width:500px">
                <div style="background-color: #4fa8fb;">
                    <h4 style="color:white; padding: 15px ;margin-top: 0px;">SUBIR VOUCHER DE PAGO DE INSPECCION</h4>
                </div>
                <div style="background-color: #d3d3d3;margin-top: -10px; padding: 15px;">
                    <div class="form-group">
                        <label for="name" class="col-form-label">FECHA:</label>
                        <input type="date" class="form-control" name="EMP_FACEBOOK" id="EMP_FACEBOOK">
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">TIPO DE RIESGO:</label>
                        <input type="text" class="form-control" name="EMP_INSTAGRAM" id="EMP_INSTAGRAM">
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label">VOUCHER DE PAGO:</label>
                        <input type="file" class="form-control" name="CURS_IMAGEN" id="CURS_IMAGEN">
                    </div>
                    <div class="caja_button">

                        <button type="submit" class="btn btn-primary ">SUBIR VOUCHER</button>
                    </div>
                </div>
            </div>
            <div style="border: 1px solid black; margin: 40px; width:500px; background-color: #d3d3d3;">
                <div style="background-color: #4fa8fb;">
                    <h4 style="color:white; padding: 15px ;margin-top: 0px;">SUBIR VOUCHER DE PAGO DE INSPECCION</h4>
                </div>
                <div style="margin-top: -10px; padding: 15px;">
                    <div class="form-group">
                        <label for="name" class="col-form-label">FECHA:</label>
                        <input type="date" class="form-control" name="EMP_FACEBOOK" id="EMP_FACEBOOK">
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-form-label">VOUCHER DE PAGO:</label>
                        <input type="file" class="form-control" name="CURS_IMAGEN" id="CURS_IMAGEN">
                    </div>
                    <div class="caja_button">
                        <button type="submit" class="btn btn-primary">SUBIR VOUCHER</button>
                    </div>
                </div>
            </div>



        </div>

    </form>
</div>