.todo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

.titulo {
    background-color: #0167A7;
    border-bottom: 10px solid #EEB911;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    margin-bottom: 1rem;
}

#cuerpo {
    margin-top: 6rem;
    /* margin-left: 1rem;
    margin-right: 1rem; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#centro {
    display: flex;
    justify-content: center;
}

#sec {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #E8E8E8;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 1.2rem;
    border-radius: 0.3rem;
}

.casilla {
    min-width: 14rem;
}

@media (max-width: 575px) {
    .casilla {
        min-width: 100%;
    }
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right {
    display: flex;
    gap: 1rem;
}

#fondo-boton {
    background-color: #0167A7;
}