<app-header></app-header>
<div class="todo">
    <div id="cuerpo">
        <form id="sec">
            <div class="mb-2">
                <label class="form-label">TIPO DE CONTIBUYENTE</label>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="tipo-contribuyente"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        TIPO DE CONTIBUYENTE
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="tipo-contribuyente">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>

            </div>
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">N° RUC</label>
                <div class="input-group mb-2" type="button">
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                    <div class="input-group-text">
                        <span class="material-icons">search</span>
                    </div>
                </div>
            </div>
        </form>

        <form id="sec">
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">N° RUC</label>
                <div class="input-group mb-2" type="button">
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                </div>
            </div>
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">CONTIBUYENTE</label>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="tipo-contribuyente"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        TIPO DE DOCUMENTO
                    </a>
                </div>
            </div>
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">N° DE DOCUMENTO</label>
                <div class="input-group mb-2" type="button">
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                </div>
            </div>
        </form>
        <form id="sec">
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">URB./A.H./OTRO</label>
                <div class="input-group mb-2" type="button">
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                </div>
            </div>
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">PROVINCIA</label>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="tipo-contribuyente"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        LIMA
                    </a>
                </div>
            </div>
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">REGIMEN TRIBUTARIO</label>
                <div class="input-group mb-2" type="button">
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                </div>
            </div>
        </form>
        <form id="sec">
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">AV./JR./CL./PJE.</label>
                <div class="input-group mb-2" type="button">
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                </div>
            </div>
            <div id="zzz">
                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">NÚMERO</label>
                    <div class="input-group mb-2" type="button">
                        <input type="text" class="form-control" aria-label="Text input with checkbox">
                    </div>
                </div>
                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">LETRA</label>
                    <div class="input-group mb-2" type="button">
                        <input type="text" class="form-control" aria-label="Text input with checkbox">
                    </div>
                </div>
                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">INT.</label>
                    <div class="input-group mb-2" type="button">
                        <input type="text" class="form-control" aria-label="Text input with checkbox">
                    </div>
                </div>
                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">LET.INT.</label>
                    <div class="input-group mb-2" type="button">
                        <input type="text" class="form-control" aria-label="Text input with checkbox">
                    </div>
                </div>
                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">MZ</label>
                    <div class="input-group mb-2" type="button">
                        <input type="text" class="form-control" aria-label="Text input with checkbox">
                    </div>
                </div>
                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">LOTE</label>
                    <div class="input-group mb-2" type="button">
                        <input type="text" class="form-control" aria-label="Text input with checkbox">
                    </div>
                </div>
                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">BLOQUE</label>
                    <div class="input-group mb-2" type="button">
                        <input type="text" class="form-control" aria-label="Text input with checkbox">
                    </div>
                </div>
                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">DPTO.</label>
                    <div class="input-group mb-2" type="button">
                        <input type="text" class="form-control" aria-label="Text input with checkbox">
                    </div>
                </div>
            </div>

        </form>
        <form id="sec">
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">DIRECCIÓN DE NOTIFICACIÓN</label>
                <div class="input-group mb-2" type="button">
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                </div>
            </div>
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">DISTRITO DE NOTIFICACIÓN</label>
                <div class="input-group mb-2" type="button">
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                </div>
            </div>
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">CORREO ELECTRÓNICO</label>
                <div class="input-group mb-2" type="button">
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                </div>
            </div>
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">TELÉFONO</label>
                <div class="input-group mb-2" type="button">
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                </div>
            </div>
        </form>
    </div>
    <div class="botones">
        <div class="left">
            <div type="button" class="btn btn-danger" [routerLink]="['/']">Cancelar</div>
        </div>
        <div class="right">
            <div type="button" class="btn btn-primary">Regresar</div>
            <div type="button" class="btn btn-success" [routerLink]="['/contribuyente/anexos']">Siguiente</div>
        </div>
    </div>
</div>